<%- include('partials/header') -%>\

    <main class="container">
        <div class="row justify-content-around mt-5">
            <h3>You are now logged in {USER}</h3>
        </div>
        <a href="/logout" class="col-3 btn btn-primary"> Logout </a>
    </main>

<%- include('partials/footer') -%>